<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Capstone Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div id = "app">
    
    <!-- Header of the page -->
    <header>
      <div class="logo">Logo</div>
      <div class ="holder headline">Travel App</div>
      <div class="navigation">Navigation</div>
    </header>

    <!-- Content of the page -->
    <div class="content" id="content">
      
      <!-- The travel picker section is the section, where the user can input data and sees the trip data -->
      <section class="travelPicker">
        <div id = "inputFields" >
          <div class ="holder city">
            <label for="city-name">My trip to: </label>
            <input type="text" id="city-name" placeholder="Enter Location" required>
          </div>
          <div class ="holder date">
            <label for="date-start">Departing: </label>
            <input type="date" id="date-start" required>
          </div>
          <div class ="button holder" >
            <div id="holderGen">
              <button id="generate" class="lrgBtn" type = "submit"> Generate Trip </button>
            </div >
            <div id="holderClear"></div>
          </div>
          <div id ="travelCard">
            <div id = "entryHolder">
              <div id = "entryOutput">
                <div id = "tripData"></div>
                <div id = "destination"></div> 
                <div id = "temperature"></div>
                <div id = "weather-description"></div>
              </div>
              <img id= "city-img" src=''>
            </div>
        </div>
      </section>
      
      <!-- small title, every elements that are saved will be generated automatically -->
      <section id = "tripHolder">
        <div class = "yourTrip">Your Trips:</div>
      </section>
    </div>

    <!-- Footer of the page -->
      <footer>
        <p>Uses different APIs for receiving Data</p>
      </footer>
  </div>
</body>
</html>