// scss file to define the main content of the page for small devices

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
    grid-row-start: 2;
    grid-row-end: 10;
    background-color: rgb(214, 213, 205);
}

.content > * {
    margin-bottom: 10px;
    margin-top: 10px;
}

.headline {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 25vh;
    border-radius: 5px;
    background-color: rgb(240, 237, 231);
}

.card > * {
    padding: 5px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
}

#save {
 margin-top: 5px;
}

#clear {
    margin-left: 5px;
   }

.clone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
}

.travelPicker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 25vh;
    border-radius: 5px;
    background-color: rgb(240, 237, 231);
}

.travelPicker > * {
    padding: 5px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    border:rgb(41, 38, 38) solid 1px;
}

#inputFields > * {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.holder {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
}

.holder > input {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 31, 31);
    border-radius: 5px;
    background-color: rgb(240, 237, 231);
    margin-top: 5px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.lrgBtn {
    min-width: 100px;
    min-height: 35px;
    background-color: rgb(240, 237, 231);
    border: solid darkgrey 2px;
    border-radius: 8px;
    color: rgb(46, 44, 42)
}

.lrgBtn:hover {
    background-color: rgb(247, 197, 104);
    color: rgb(46, 44, 42);
}
.lrgBtn:active {
    background-color: orange;
    color: white;
}

.light {
    font-weight: lighter;
}

#travelCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
}

#tripHolder {
    border:none;
    padding: 0px;
    width: 79%;

}

.yourTrip {
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    border: none;
    max-width: 40%;
}

#tripData {
    margin-bottom: 5px;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 5px;
}

#entryHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top:0;
    left:0;
    width:100%;
}

#entryOutput {
    width:100%;
}

#city-img {
    width: 100%
}

.outputData {
    font-size: small;
    color: white;
    padding-left: 5px;
    padding-bottom: 2px;
}