// scss file to style the footer

footer {
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: #201e1e;
    font-size: large;
    font-style: oblique;
}