header {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 1;
    // max-height: 100px;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: grey;
}

.logo {
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
}

.navigation {
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 5px;
}