// scss file to style the fundamental Elements

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-rows: 100px auto 100px;
    min-height: 120vh;
}

@media only screen and (min-width: 90.063em) { 
    body{
        margin-left: 75px;
        margin-right: 75px;
    }
}